.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #ddd;
    justify-content: space-between;
}

/*
*  Logo
*/
.header {
    &__logo {
        display: flex;
        align-items: center;
    }

    &__logo-icon, 
    &__logo-text {
        display: inline-block;
    }

    &__logo-icon {
        padding: 1rem;
        background-color: #efefef;
    }

    &__logo-text {
        margin-left: 1rem;
    }  
}


/*
*  Menu
*/
.header {
    &__list, 
    &__item, 
    &__link {
        height: 100%;
    }

    &__menu {
        flex: auto;
        text-align: right;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        position: relative;
    }

    &__item:before {
        content: '';
        height: 100%;
        width: 1px;
        position: absolute;
        background-color: #aaa;
    }

    &__link {
        display: inline-flex; 
        color: $black;
        font-weight: bold;
        text-decoration: none;
        align-items: center;
        padding: 0 2.5rem;
        transition: $transition;
    }

    &__link:hover {
        background-color: #efefef;
    }
}


/*
*  Modules
*/
.header {
    &__modules {
        display: flex;
    }

    &__modules-icon {
        display: block;
        margin-bottom: .3rem;
    }

    &__modules-icon img {
        margin: auto;
        width: 22px;
    }

    &__modules-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;
        text-align: center;
        color: $white;
    }

    &__modules-item--login {
        background-color: $green;
    }

    &__modules-item--signup {
        background-color: $orange;
    }
}
